/*bohemiaphotography.css */

*{
    padding: 0px;
    margin: 0px auto; 
    line-height: 18px;
    color: white
    /* text-decoration: none; */
    /* color: #630; */
}

a{color: white;}
a:hover{text-decoration: none;}
h4 a{color: white;
     text-decoration: none;}
.grey{color: white;}
.grey a{color: white;}
    
body{
    background-image: url();
    background-repeat: repeat-x;
    background-color: rgb(23,23,23);
    font: 0.8em Arial, Verdana, sans-serif, white;
    text-align: center;
    min-width: 976 px;
}

#top{
    /*height: 128px;*/
    background: url() repeat-y center top;
}

#logo{
    width: 288px;
    height: 110px;
    margin: 30px 0;
    float: left;
}

#logo img{border: 0px;margin:0px;}

#fb{
	display: block; 
    margin: 0;   
    padding: 0px;
    float: right;
}

#menu{
    width: 976px;
    height: 38px;
    margin-top: 35px;
    float: right;
    color: #036;
}

#menu ul{
    margin: 0px;
    padding-top: 15px;
}
    
#menu li{
    list-style-type: none;
    float: left;
    text-align: center;
    font: normal bolder Verdana white;
    margin-left: 12px;
    margin-right: 10px;
}
 
#pict{
    width: 976px;
    height: 232px;
    z-index:200;
    /* background: url(pict.jpg) no-repeat center top; */
}
    
#main{
    width: 976px;
}

#mleft{
    width: 250px;
    float: left;
    padding: 20px 35px;
    text-align: left;
}    

#mcenter{
    margin-top: 20px;
    width: 1px;
    height: 200px;
    float: left;
    background-color: #aaa;
}

#mright{
    width: 976px;
    margin: 0 auto;
    text-align: center;
}

#mbottom{
    width: 976px;
    height: 34px;
    clear: both;
    background: url() no-repeat;
    text-align: left;
}

#left-menu-text{
    width: 175px;
    float: left;
    margin-right: 15px;
    text-align: justify;
}

#left-menu-photo{
    width: 290px;
    float: left;
    margin-right: 5px;
    text-align: left;
}

#right-menu-text{
    width: 175px;
    float: left;
    text-align: justify;
}
#right-menu-photo{
    width: 290px;
    float: left;
    margin-right: 15px;
    text-align: left;
}

p{
    text-align: justify;
    margin-bottom: 10px;
}


h1{
    text-align: left;
    font-size: huge;
    margin-bottom: 10px;
    /* background-color: #036; */
    color: yellow;
    padding: 10px;
}

h2{
    font-size: medium;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h3,h4{
    font-size: medium;
    text-align: left;
    margin-bottom: 10px;
    /* background-color: #393; */
    color:  white;
    padding: 10px;
}

h4{
    font-variant: small-caps;
    margin: 0px;
    padding: 5px;
    color: white;
}

ul{
    text-align: left;
    padding-left: 30px;
}

.fl{float:left;
    margin:10px;}
.fr{float:right;
    margin:10px;}
.cb{clear:both;}
.img_link{/* margin: 5px 10px; */
    border: 0px solid #c30;}
    
table, td{
    border: 1px solid rgb(50,50,50);
    border-collapse: collapse;
    text-align: left;    
}

address{
    text-align: left;
    font-style: normal;
}
label{    
    font-weight: bold;
    width: 60px;
    float: left;
}
.cenik{
    width: 380px;
    float: left;
    text-align: left;
}

.separator{
    clear: both;
    height: 40px;
    width: max;
}

.foto{
    float: left;
    width: 375px;
    height: 375px;
    padding: 4px 10px;
    text-align: center;
}

#nat_menu{
    width: 989px;
    text-align: left;
    padding: 20px 35px;
    text-align: left;
}

#nat-top_menu{
    width: 989px;
    height: 400px;
    text-align: left;
    padding: 20px 35px;
    text-align: left;
}

.HeadGallery {
	text-align: center;
	margin: 0;
}

.HeadGallery > a > img {
	width: 224px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

.HeadGallery > a > img.img-right {
	margin-right: 20px;
}

.clear {
	clear: both;
}