.bg {}
.menu {padding-top: 20px; margin-left: 50px; width: 908px; list-style:none; height:30px; background-color:rgb(23,23,23); position:left; font-family:arial, verdana, sans-serif; }
.menu li.top {display:block; float:right; position:right;}
.menu li a.top_link {display:block; float:right; height:30px; line-height:33px; color:white; text-decoration:none; font-size:1.0em; font-weight:bold; padding: 20px; cursor:pointer;}
.menu li a.top_link span {float:left; font-weight:bold; display:block; padding:0px; height:20px;}
.menu li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:20px;}
.menu li a.top_link:hover {color:white;}
.menu li a.top_link:hover span {}
.menu li a.top_link:hover span.down {}

.menu li:hover > a.top_link {color:white;}
.menu li:hover > a.top_link span {}
.menu li:hover > a.top_link span.down {}

.menu table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

.menu a:hover {visibility:visible;}
.menu li:hover {position:relative; z-index:200;}

.menu ul, 
.menu :hover ul ul, 
.menu :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.menu :hover ul.sub {left:10px; top:40px; right:2px; background: rgb(23,23,23); padding:3px 0; border:1px solid #999999; white-space:nowrap; width:220px; height:auto;}
.menu :hover ul.sub li {display:block; height:20px; position:relative; float:left; width:160px;}
.menu :hover ul.sub li a {font-weight:normal;display:block; font-size:0.85em; height:20px; width:210px; text-align: left; padding-left: 5px;line-height:20px; color:white; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}
.menu :hover ul.sub li a.fly {background-color:rgb(23,23,23);}
.menu :hover ul.sub li a:hover {background:rgb(200,200,200); color:black;}
.menu :hover ul.sub li a.fly:hover {background-color:rgb(23,23,23); color:white;}
.menu :hover ul li:hover > a.fly {background-color:rgb(23,23,23); color:white;} 

.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul :hover ul
{left:90px; top:-4px; background: black; padding:3px 0; border:1px solid 999999; white-space:nowrap; width:93px; z-index:200; height:auto;}

